.wd-bg-yellow {
    background-color: lightyellow;
}

.wd-bg-blue {
    background-color: lightblue;
}

.wd-bg-red {
    background-color: lightcoral;
}

.wd-fg-black {
    color: black;
}

.wd-padding-10px {
    padding: 10px
}

.wd-post-image {
    border-radius: 10px;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 80%;
}

.wd-dis {
    display: inline-flex;
}

.wd-icons {
    display: inline;
    width: 100%;
    padding: 20px;

}